
@model IEnumerable<Sooziales_Netzwerk.Models.Link>
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
    String username = User.Identity?.Name;
    if(User.IsInRole("verified")){
       username = username + "✓";
    }
}

<div class="text-center">
    @if(SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome @username</h1>
    }else 
    {
        <h1 class="display-4">SavedThat</h1>
        <p>Link your Life up!</p>
    }

    @foreach (var item in Model) {
        <h2>@Html.DisplayFor(modelItem => item.linkText)</h2>
        <p>@Html.DisplayFor(modelItem => item.username)</p>
        if(item.linkText.Contains("https://www.youtube.com/watch?v=")){
            String videoId = item.linkText.Remove(0,32);
            String embedLink =  "https://www.youtube-nocookie.com/embed/" + videoId;
            <iframe width="560" height="315" src=@embedLink title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        }
        if(item.username == "Test"){
            item.likes = 5;
        }
        
        <p>👍 @Html.DisplayFor(modelItem => item.likes)</p>
    }
</div>
