@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Contact</h2>
<p>SavedThat GmbH</p>
<p>privacy@savedthat.com</p>

<h2>Verantwortlicher</h2>
<p>Philipp Tanger</p>
<p>philipp.tanger@savethat.com</p>

<h2>Data we collect</h2>
    <h3>Data you provide to us</h3>
        <h4>Account Information</h4>
            <li>Username</li>
            <li>Email</li>
            <li>Password</li>
            <li>Biography</li>
            <li>Profil Picture</li>
            <li>Preferences and Settings</li>
            <h4>Content and Actions</h4>
            <li>Posts</li>
            <li>Reaktions</li>
            <li>Comments</li>
            <li>Reports</li>
            <li>Friends</li>
        <h4>Other Information</h4>
            <p>We collect and save data that you may provide to us. This can be for example filling out forms, Support, Reports, Job Applications or communication with us.</p>






