@{
    ViewData["Title"] = "Terms of Service";
}
<h1>@ViewData["Title"]</h1>

<p> With the use of our website and services you agree to the following terms and condition. </p>
<h2>Who may use our Services</h2>
<p> You may use our service only if you agree to the following terms and condition and using our service without breaking (the german) laws.
    You must bed atleast 16 years old to use our service. We are allowed to restrict the access to our service if you do not follow these simple rules.
</p>

<h2>Content</h2>
<p>We are not responsible for any content user post on our platform. The responsibility is by the user who post this content. We are allowed to delete or ban content or users who posts content that contains one of the following aspect or anything that is not compatible with the laws of your home country.</p>
<p>Do not post content that contains:</p>
<li>Harassment</li>
<li>Threaths</li>
<li>Insults</li>
<li>Mobbing</li>
<li>Sexual Abuse</li>
<li>Sexual Abuse of children</li>
<li>Violence & War</li>
<li>Dead People & Dead Animals</li>
<li>Suicide and self-harm</li>
<li>Personal information (of you and others)</li>
<li>Non-consensual nudity</li>
<li>Fake News</li>
<p>You are completly allowed to post:</p>
<li>Your own opinion</li>
<p>Posts that contains nudism neads to have NSFW tag on them</p>
<p>If you see a post that contains content that is not allowed on our platform please report it.</p>

<h3>Copyright</h3>
<p>Links that user posts are copyrighted by the people who created the content behind the link.</p>
<p>If you want to get your content removed anyway please send a mail to copyright@googloog.com.</p>
<p>Only use profile pictures where you have the right to use them.</p>

<h3>Your rights and Our Right</h3>
<p>You retain your rights to any content you submit.</p>
<p>By submitting or posting you allow us to use, modify, publish, display and delete your content.</p>

<h2>Using the Service</h2>
<p>We can modidy and change our services at our own discretion.</p>
<p>We can and may stop permanently or temporarily providing our service.</p>

<p>We can change the Terms of Services at any time.</p>