@{
    ViewData["Title"] = "Terms of Service";
}
<h1>@ViewData["Title"]</h1>

<h1>Terms of Service</h1>
<p>With the registration and use of our services you agree to our Terms of Services and our privacy policy.
In the following Terms we will use the following pronounses:</p>
<li>We - The Doouble Company</li>
<li>You - The user or the visitor of our page. We will try to differentiate between these two in the following.</li>
<li>User - A person who created an account on one of our services</li>
<li>Visitor - A person who is just visiting our services and does not have an account.</li>

<p>In general users have more permissions than visitors. This include posting, liking, commenting.</p>

<p>If you have any problems or questions regarding this terms or our services, please contact us.</p>

<h2>1. Account Restrictions</h2>
<p>We are allowed to remove your account permanently or temporary if you break our terms. We will notify you when this happens.
You have to use an appropriate username. Usernames that contains</p>
<li>Spam</li>
<li>Emojis</li>
<li>Insults</li>
<li>Harassment</li>
<li>Misleading Things</li>
<p>are not allowed.</p>
<p>You can currently not change your username so you have to create a new one if you want to do so. We will work on a fix for that.</p>
<p>You are allowed to create multiple accounts.</p>
<h2>2. Content Restrictions</h2>
<p>We want to let you post most of the Things you want to post, because we believe in Freedom of Speech. So we will not remove your content if it contains an opinion and follows our content guidelines.</p>
<p>You are not allowed to post content that contains</p>
<li>Child Abuse</li>
<li>Sexual Abuse</li>
<li>Insults and Death Threads</li>
<li>Not GEMA Free Music</li>
<li>Rassism</li>
<li>Death people</li>
<p>Googloog is just a Place Where Users can post Links to content. The content stays on the original sites. We use embeds to show these on our sites.</p>
<p>If you have the copyright to one of the posted content and you want to have it removed please contact us using this email: <a href="mailto: copyright@doouble.com">copyright@doouble.com</a>.</p>
<p>Post that contains</p>
<li>disgusting things</li>
<li>snakes or spiders</li>
<li>Violence</li>
<li>Spoilers</li>
<li>Nudity or Porn</li>
<p>have to be marked with the specific tag.</p>


<h3>Your rights and Our Right</h3>
<p>You retain your rights to any content you submit.</p>
<p>By submitting or posting you allow us to use, modify, publish, display and delete your content.</p>

<h2>Using the Service</h2>
<p>We can modidy and change our services at our own discretion.</p>
<p>We can and may stop permanently or temporarily providing our service.</p>

<p>We can change the Terms of Services at any time.</p>