@model Sooziales_Netzwerk.Models.Link

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Save and Share your moment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="linkText" class="control-label"></label>
                <input asp-for="linkText" class="form-control" />
                <span asp-validation-for="linkText" class="text-danger"></span>
            </div>
            <div class="form-group" style="visibility: hidden;">
                <label asp-for="username" class="control-label"></label>
                <input asp-for="username" class="form-control" placeholder=@User.Identity.Name value="@User.Identity.Name"/>
                <span asp-validation-for="username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
